<div id="myCarousel" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" >
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>whoaim</h1>
            <p>I'm letItCurl, a freelance fullstack web developer on Ror / Vue / React / Docker </p>
            <p><a class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/roland-lopez-developer/" role="button">Linkedin</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>My Contacts</h1>
            <p>A simple contact manager</p>
            <p><%= link_to "Sing up!", new_user_session_path ,class: "btn btn-lg btn-primary"%></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>This is fully powered with rails !</h1>
            <p>This app is hosted in heroku and the code in on github</p>
            <p><a class="btn btn-lg btn-primary" href="https://github.com/letItCurl/contactmanager" role="button">Go to sources !</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Losing of sight important contacts?</h1>
    <p class="lead">This web app will help you to note your contacts in an easy and reliable way.</p>
  </div>
</div>

<div class="container">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Easy UX. <span class="text-muted">It’ll blow your mind.</span></h2>
      <p class="lead">Basics responsive UX that recalls the organisation of a school workbook. With the advantage that is weightless and you can search contacts through a textbox in the navbar.</p>
    </div>
    <div class="col-md-5 text-right" id="gif">
        <img class="gif-sm" src="https://res.cloudinary.com/duydvdaxd/image/upload/v1586886267/Vue-Sprint/UX_f7uv9p.gif" style="width: 300px">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette text-right">
      <div class="col-md-7 order-md-2 ">
        <h2 class="featurette-heading">AJAX forms.<span class="text-muted">See for yourself.</span></h2>
        <p class="lead">This speed-up the process of creating groups will creating contacts !</p>
        <%= link_to "Give it a try!", new_user_session_path, class:"btn btn-primary mb-2"%>
      </div>
      <div class="col-md-5 order-md-1 text-left" id="gif">
        <img class="gif-sm" src="https://res.cloudinary.com/duydvdaxd/image/upload/v1586886269/Vue-Sprint/ajax_oaozt9.gif" style="width: 300px">
      </div>
    </div>
  <hr class="featurette-divider">
  <footer class="container">
    <p class="float-right"><a href="#myCarousel">Back to top</a></p>
    <p>© 2018-2020 RolandLPZ, Inc. · <a href="https://github.com/letItCurl/contactmanager">Github</a> · <a href="https://www.linkedin.com/in/roland-lopez-developer/">Linkedin</a></p>
  </footer>
</div>
