<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <div class="container">
    <%= link_to "My contacts", root_path, class: "navbar-brand text-uppercase" %>
    
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        
    <!-- /.navbar-header -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <%= render "layouts/search_form"%>
      <ul class="navbar-nav ml-2">
        <li class="nav-item">
          <% attr = session[:selected_group_id] ? { group_id: session[:selected_group_id]} : {}%>
          <%= link_to new_contact_path(attr), class: "btn btn-outline-primary" do%>
            Add New
          <%end%>
        </li>
      </ul>
    </div>
  </div>
</nav>