<% if @contacts.blank? %>
  <div class="alert alert-warning">
    <strong>Contacts not found</strong>
  </div>
<%else%>
  <div class="card-header"><strong>All Contacts</strong></div>
    <div>
      <%= render @contacts %>
    </div>
  <div class="mx-auto">
    <%= paginate @contacts %>   
  </div>
<%end%>
 