<% if @contacts.blank? %>
  <div class="alert alert-warning">
    <strong>Contacts not found</strong>
  </div>
<%else%>
    <% content_for :title do%>
      <%=params[:group_id] == nil || params[:group_id].empty? ? 'All Contacts' : Group.find_by(id: params[:group_id].to_i).name%>
    <%end%>
    <% content_for :content do%>
      <%= render @contacts %>
    <%end%>
    <% content_for :footer do%>
      <%= paginate @contacts %>
    <%end%>
    <%= render template: 'layouts/listcard'%>
<%end%>
 