/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require bootstrap
 *= require @fortawesome/fontawesome-free
 */


 @media (max-width: 780px) { 
    #contact-card {
        flex-direction: column;
    }
    #contact-actions{
        margin: auto;
    }
 }
 @media (max-width: 450px) { 
    #presentation{
        text-align: center !important;
    }
    .row.featurette.text-right{
        text-align: center !important;
    }
    #gif{
        text-align: center !important;
        margin: auto;
    }
 }
 
 @media (max-width: 1000px) { 
    #responsive-from{
        flex-direction: column-reverse;
    }
    #responsive-nav{
        max-width: 70%;
    }
    #responsive-pipe{
        display: none;
    }
 }

 .ui-autocomplete {
     position: relative;
     cursor: default;
     z-index: 9999 !important;
 }

 .turbolinks-progress-bar {
    height: 7px;
    background: blueviolet;
 }
 .carousel-item{
     height: 400px;
     
 }
 #myCarousel{
     background-color: black;
 }
 #myCarousel::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0), rgb(0, 0, 0)), url(https://i.pinimg.com/originals/44/55/8b/44558bcaa0cae2d7e17f80a2c3e29550.gif);
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  #dashboard{
    background-color: black;
}
#dashboard::before {
   content: "";
   position: absolute;
   top: 0; left: 0;
   width: 100%; height: 100%;
   background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0), rgba(0, 0, 0, 0.836)), url(https://steamuserimages-a.akamaihd.net/ugc/2424501685490003644/607D8BF29E03E4FCE1FB2E6DF7A334AA5ED704FA/);
   background-repeat: repeat;
   background-position: center;
   opacity: 0.9;
 }


